<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<link rel="icon" href="/images/icon-web.png">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/css/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/css/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/css/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/login/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/loading.animation.css">
<!--===============================================================================================-->
	<style>
		.hello {
			position: absolute;
			top: 26%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 5vw;
			-webkit-animation-name: wave;
			animation-name: wave;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			font-family: "Righteous", cursive;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: black;
		}

		.hello:nth-of-type(1) {
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-delay: 0.55s;
			animation-delay: 0.55s;
		}

		.hello:nth-of-type(2) {
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
		}

		.hello:nth-of-type(3) {
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-delay: 0.05s;
			animation-delay: 0.05s;
		}

		.hello:nth-of-type(4) {
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-delay: -0.2s;
			animation-delay: -0.2s;
		}

		@-webkit-keyframes wave {
			40%, 50% {
				transform: translate(-50%, -65%) scale(1.05);
			}
			0%, 90%, 100% {
				transform: translate(-50%, -45%) scale(0.95);
			}
		}

		@keyframes wave {
			40%, 50% {
				transform: translate(-50%, -65%) scale(1.05);
			}
			0%, 90%, 100% {
				transform: translate(-50%, -45%) scale(0.95);
			}
		}

		.error-login{
			display: none;
		}
	</style>
</head>
<body>
	<!--    animation loading-->
	<%- include('loadingAnimation.ejs') %>
	<!--    animation loading-->
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/css/login/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" id="login_form" action="/login-process" method="post">
					<span class="login100-form-logo">
						<div class='hello' style='color: #7c4dff'>ATN</div>
						<div class='hello' style='color: #0091ea'>ATN</div>
						<div class='hello' style='color: #ff9100'>ATN</div>
						<div class='hello' style='color: #ff1744'>ATN</div>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" id="txt_username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="txt_pass" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<label class="error-login" style="color: whitesmoke;">
							Username or password wrong!
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/css/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/css/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="/css/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/css/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/css/login/js/main.js"></script>
	<script src="/js/login.js"></script>
</body>
</html>